<form method="post" action="{% url 'profile_update' %}" class="js-edit-profile-form">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    {% csrf_token %}
    <div class="modal-body">
        {% include 'includes/form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn-outline-dark btn-sm">Save changes</button>
    </div>
</form>